<div class="navbar-wagon">

  <%= link_to 'My Cocktails', cocktails_path, class: "navbar-wagon-brand" %>
  <!--   <img src="images/logo.png" alt="logo"> -->

  <div class="navbar-wagon-right">
    <%= link_to 'Add cocktail', new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.card_picture %>);">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </div>
    <% end %>
  </div>
</div>


