.cocktail-container {
  margin-top: 70px;
  margin-bottom: 70px;
}

.show-banner {
  height: 400px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  height: 270px;
}

.info-card {
  font-weight: lighter;
  p {
    font-size: 15px;
  }
  a:hover {
    text-decoration: none;
  }
}

.description {
  flex: 60%;
  position: relative;
}

.ingredients {
  flex: 40%;
  position: relative;
}

.links {
  position: absolute;
  bottom: 10px;
}

