<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path('Home') %>');">
  <div class="banner-content">
    <h1 id="home-page-title">Summer Jungle Cocktail</h1>
    <%= link_to 'Sign up', cocktails_path, class: "btn-cocktail" %>
    <%= link_to 'Sign in', cocktails_path, class: "btn-cocktail" %>
  </div>
</div>
